# Q1

In [1]:
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

single_choice = []

for i in question :
    if "_" not in i :
        single_choice.append(i)
        
print(single_choice)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

# Q2

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [29]:
df2 = df[df["Year"]>=2011]
df2
df_pivot = df2.pivot(index="Year", columns="Country", values="Life_Expectancy")

df_pivot.columns = ['Canada', 'France', 'Germany', 'Great Britain', 'Japan', 'USA']
# print(df_pivot.head())
df_pivot.index

Int64Index([2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype='int64', name='Year')

In [61]:
df2 = df[df["Year"]>=2011]
df2
df_pivot = df2.pivot(index="Year", columns="Country", values="Life_Expectancy")

new = df_pivot.reset_index().rename_axis(None, axis=1)

new = new.drop("", axis=1)
new

KeyError: "[''] not found in axis"

In [18]:
import pandas as pd 

data=pd.read_csv('/Users/hongda-eun/Downloads/서울특별시 강남구_생활폐기물배출량_20221019.csv',encoding="cp949")
data.head()

   강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0  01월            7550            7350
1  02월            6387            6688
2  03월            7198            6973
3  04월            6820            6448
4  05월            7767            6470